{% extends "base.html" %}

{% block content %}
<div class="row">
    <ul class="thumbnails">


        <li class="gallery span4">
            <a href="/gallery/fashion/" class="thumbnail">
                <img src="http://img.tylergriffinphotography.com/square/af4476953cca491fa8abc605cda48718.jpg" alt=""
                     class="span4"/>
                <h3>Fashion</h3>
            </a>
        </li>

        <li class="gallery span4">
            <a href="/gallery/headshots/" class="thumbnail">
                <img src="http://img.tylergriffinphotography.com/square/81a5241bd01a0da3d6dbbeaed68020e3.jpg" alt=""
                     class="span4"/>
                <h3>Headshots</h3>
            </a>
        </li>

        <li class="gallery span4">
            <a href="/gallery/weddings/" class="thumbnail">
                <img src="http://img.tylergriffinphotography.com/square/a0a01a2d5729096f4034a11d83c5b286.jpg" alt=""
                     class="span4"/>
                <h3>Weddings</h3>
            </a>
        </li>

        <li class="gallery span4">
            <a href="/gallery/corporate/" class="thumbnail">
                <img src="http://img.tylergriffinphotography.com/square/3a0473529e5855e292e61e13785852f5.jpg" alt=""
                     class="span4"/>
                <h3>Corporate</h3>
            </a>
        </li>


        <li class="gallery span4">
            <a href="/gallery/landscapes/" class="thumbnail">
                <img src="http://img.tylergriffinphotography.com/square/23952417f967e658322a57fb63d884c2.jpg" alt=""
                     class="span4"/>
                <h3>Landscapes</h3>
            </a>
        </li>

        <li class="gallery span4">
            <a href="/gallery/italy/" class="thumbnail">
                <img src="http://img.tylergriffinphotography.com/square/4190bfb394c5c735980cb11cde004252.jpg" alt=""
                     class="span4"/>
                <h3>Italy</h3>
            </a>
        </li>

        <li class="gallery span4">
            <a href="/gallery/new-york/" class="thumbnail">
                <img src="http://img.tylergriffinphotography.com/square/ba9a679434b7d463b579e2527e46ff1e.jpg" alt=""
                     class="span4"/>
                <h3>New York</h3>
            </a>
        </li>


        <li class="gallery span4">
            <a href="/gallery/food/" class="thumbnail">
                <img src="http://img.tylergriffinphotography.com/square/caaf9bb1e9b3fe503e3819a0b8b7cce4.jpg" alt=""
                     class="span4"/>
                <h3>Food</h3>
            </a>
        </li>

        <li class="gallery span4">
            <a href="/gallery/products/" class="thumbnail">
                <img src="http://img.tylergriffinphotography.com/square/0d75884d97e81783d8a8545bad0a39cf.jpg" alt=""
                     class="span4"/>
                <h3>Products</h3>
            </a>
        </li>


    </ul>
</div>

{% endblock %}