{% extends "base.html" %}

{% block content %}
<div class="row">
    <ul class="thumbnails">

        {% for album in albums %}

        <li class="gallery span4">
            <a href="{{ url_for('gallery.lists',filename=album.id) }}" class="thumbnail">
                {% with path = '1/imut2.jpg' %}
                {{ path  }}
                <img src="{{ url_for('gallery.send_image',category=image.category_id,filename=image.name )}}" alt=""
                     class="span4"/>

                {% endwith %}
                <h3>{{ album.name }}</h3>
            </a>
        </li>

        {% endfor %}


    </ul>
</div>

{% endblock %}