{% extends "base.html" %}

{% block content %}

<div id="gallery-title">
    <h2>Headshots</h2>
    <a href="/gallery/album/">&laquo; Back to Portfolio</a>
</div>


<div class="gallery masonry">
    {% for image in images %}
    <div class="box photo masonry-brick">
        <a href="#" class="thumbnail">
            <img src="{{ url_for('gallery.send_image',category=image.category_id,filename=image.filename) }}"
                 alt="{{ image.name }}"/>
        </a>
    </div>

    {% endfor %}

</div>
<div class="modal hide fade" id="lightbox">
    <div class="modal-body">
    </div>
</div>

<script src="{{url_for('static',filename='js/masonry.min.js')}} "></script>
<script>
    $(function () {
        var $gallery = $('.gallery');
        $gallery.imagesLoaded(function () {
            $gallery.masonry({
                itemSelector: '.box',
                columnWidth: function (containerWidth) {
                    return containerWidth / 3;
                }
            });
        });

        var lightbox = $('#lightbox');
        var inner = lightbox.find('.modal-body');

        inner.css({maxHeight: 'none'});

        $('.thumbnail').click(function (e) {
            e.preventDefault();
            var img = $('<img>').attr({src: $(this).find('img').attr('src')});
            img.bind('load', function () {
                var el = img[0];
                var width = el.width;
                var height = el.height
                var factor = 1.0;
                if (height > $(window).height() * 0.8) {
                    factor = $(window).height() * 0.8 / el.height;
                }
                else if (width > $(window).width() * 0.8) {
                    factor = $(window).width() * 0.8 / el.width;
                }
                height = parseInt(height * factor);
                width = parseInt(width * factor);
                lightbox.css({
                    width: width + 30,
                    marginTop: height / -2,
                    marginLeft: width / -2
                });
            });
            inner.empty();
            inner.append(img);
            lightbox.modal();
        });
    });
</script>


{% endblock %}